version: '3.8'

services:
  bot:
    build: .
    container_name: tg_ai_bot
    restart: always
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - ./data:/app/data
    depends_on:
      - ollama

  ollama:
    image: ollama/ollama:latest
    container_name: ollama_service
    restart: always
    volumes:
      - ollama_data:/root/.ollama

volumes:
  ollama_data: